/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las celdas de la primera columna */
  td:first-child {
    font-weight: bold;
  }
  
  /* Estilos para las filas impares */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las filas al pasar el ratón */
  tr:hover {
    background-color: #ddd;
  }
  
.id{
    width: 100px;
}

.acciones{
    width: 200px;
}

.btn1{
    margin-right: 10px;
}

.name{
    width: 350px;
}

.btnCrear{
    margin-bottom: 10px;
}