.admin-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #25425f;
  color: #ecf0f1;
  padding: 20px;
  height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
  position: fixed; /* Hace que la barra lateral sea fija */
  overflow-y: auto; /* Añade desplazamiento vertical cuando sea necesario */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background-color: #3c6288;
}

.content {
  margin-left: 250px; /* Añade un margen para no superponer el contenido con la barra lateral */
  padding: 20px;
  flex-grow: 1;
}

.content {
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
  max-height: calc(100vh - 100px); /* Establece una altura máxima, ajusta según sea necesario */
}

.ulMargen{
margin-bottom: 100px;
}