/* DESING DE LA BARRA DE NAVEGACION */
.navbar {
  background-color: #333;
  overflow: hidden;
}
/* CONTENEDOR DE LOS BOTONES */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 5;
  display: flex;
  justify-content: space-around;
}

/*DESGIN DE LOS BOTONES DE LA BARRA DE NAVEGACION*/
.nav-item {
  display: inline;
}
.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
}
.nav-item a:hover {
  color: #00ff73;
  background-color: #4b4b4b;
  border-radius: 4px;
}

.logoutHover:hover{
  border-radius: 4px !important;
  color: #000 !important;
  background-color: #ff5757 !important;
}

.navLogoDiv{
  margin-right: 10px;
}
.navLogoImg{
  height: 60px;
}