.vision-background {
    background-image: url('../../public/IMG/Uthh.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision-content {
    background-color: rgba(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-top: -100px;
}
